<% provide(:title, "アカウント情報の編集")  %>
<div class="container">
  <%= link_to root_path, class:"btn-back" do %>
  <i class="fa fa-arrow-left" aria-hidden="true"></i> 戻る
  <% end %>

  <div class="row webkit-center">
    <div class="x-700 rev-card p-4">
      <h1 class="title-h1">アカウント情報の編集</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group x-400">
        <p class="label-font-account">
          <i class="fa fa-envelope-o" aria-hidden="true"></i> メールアドレス(必須)
        </p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group x-400">
        <p class="label-font-account">
          <i class="fa fa-lock" aria-hidden="true"></i> 現在のパスワード(必須)
        </p>
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
      </div>

      <div class="form-group x-400">
        <p class="label-font-account">
          <i class="fa fa-lock" aria-hidden="true"></i> 新しいパスワード (パスワードを変更しない場合は空白のまま)
        </p>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "6文字以上で入力" %>
      </div>

      <div class="form-group x-400">
        <p class="label-font-account">
          <i class="fa fa-key" aria-hidden="true"></i> 確認用パスワード (パスワードを変更しない場合は空白のまま)
        </p>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder: "6文字以上で入力" %>
      </div>



      <div class="actions">
        <%= button_tag type: "submit", class: "btn-submit-account" do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        更新
        <% end %>
      </div>
      <% end %>
      <div class="mt-5">
        <h1 class="title-h1">アカウントを削除する</h1>
        <%=link_to registration_path(resource_name), method: :delete, class:"btn-destory m-1", data: {confirm: "アカウントを削除します。よろしいですか？" } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i> アカウント削除
        <% end %>
      </div>
    </div>
  </div>
</div>
