<div class="row">
  <div class="rev-card col-12">
    <div class="row">
    <div class="col-12">
      <h1 class="title-h1">
        <%=link_to restaurant.name, restaurant_path(id: restaurant.id)%>
      </h1>
      <div id="map"></div>
    </div>
    <div class="col-sm-6">
      <%= render "restaurants/restaurant_photo_slide", restaurant: restaurant %>
    </div>
    <div class="col-sm-6">
      <p><i class="fa fa-home" aria-hidden="true"></i> <%= restaurant.address %></p>
      <p><i class="fa fa-phone" aria-hidden="true"></i> <%= restaurant.tell %></p>
      <% if restaurant.opentime.present? %>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= restaurant.opentime %></p>
      <% end %>
      <p><%= render "restaurants/genre", restaurant: restaurant %></p>
    </div>
  </div>
  </div>
</div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLEMAP_API_KEY"] %>&callback=initMap">
</script>
<script type="text/javascript">
  function initMap() {
    var test = { lat: <%= restaurant.latitude %>, lng: <%= restaurant.longitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = "住所：<%= restaurant.address %>";
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });
    console.log(marker)
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
