<% provide(:title, @restaurant.name)  %>
<div class="container">
  <%= link_to :back, class:"btn-back" do %>
  <i class="fa fa-arrow-left" aria-hidden="true"></i> 戻る
  <% end %>
  <%= render "restaurant_details", restaurant: @restaurant %>
  <div class="row">
    <%=link_to new_restaurant_review_path(restaurant_id: @restaurant.id),class:"btn-new-review" do %>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    このお店の口コミを投稿する
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="title-h1"><%= @restaurant.name %>の口コミ一覧</h1>
      <%= render "layouts/review_index", reviews: @reviews %>
    </div>
  </div>
<%= paginate @reviews %>
</div>
