<% provide(:title, @restaurant.name)  %>
<div class="row">
  <div class="col-md-12 rev-card">
    <h1><%= @restaurant.name %></h1>
    <div id="map"></div>
    <img src="<%= @restaurant.image_url_1 %>" alt="">
    <img src="<%= @restaurant.image_url_2 %>" alt="">
    <p>住所 : <%= @restaurant.address %></p>
    <p>電話番号 : <%= @restaurant.tell %></p>
    <%=link_to "このお店の口コミを投稿する", new_restaurant_review_path(restaurant_id: @restaurant.id),class:"btn btn-primary"%>
  </div>
</div>
<div class="row">
  <h2><%= @restaurant.name %>の口コミ一覧</h2>
  <% @reviews.each do |review| %>
    <div class="col-md-8 rev-card">
      <%= link_to restaurant_review_path(restaurant_id: @restaurant.id, id: review.id) do %>
        <p class="rev-card-title"><%= review.title %></p>
        <p><%= review.created_at.strftime("%Y年%m月%d日") %></p>
        <p>投稿者：<%= review.user.profile.name %></p>
        <% if review.review_images.present? %>
          <% review.review_images.each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 200, 200 %>
          <% end %>
        <% end %>
      <% end %>
      <br>
      <%= render "reviews/tag_list", tag_list: review.tag_list %>
    </div>
  <% end %>
</div>
<%= paginate @reviews %>

<script async defer
src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLEMAP_API_KEY"] %>&callback=initMap">
</script>
<script type="text/javascript">
  function initMap() {
    var test = { lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = "住所：<%= @restaurant.address %>";
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });
    console.log(marker)
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
