<%= form_with model:@review, local: true do |f| %>

  <div class="form-group">
    <%= f.label :title,"タイトル"  %>
    <%= f.text_field :title, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body,"本文"  %>
    <%= f.text_area :body, size: "20x10", class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.attachment_field :review_images_images, multiple: true %>
  </div>
  <%= f.submit "投稿",class:"btn btn-primary" %>
<% end %>
