<div class="col-md-12 rev-card">
  <h1 class="text-center">レビューを投稿する</h1>
  <%= form_with model:@review do |f| %>
    <div class="form-group">
      <%= f.label :title,"タイトル"  %>
      <%= f.text_field :title, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :body,"本文"  %>
      <%= f.text_area :body, class:"form-control" %>
    </div>
    <%= f.submit "投稿",class:"btn btn-primary" %>
  <% end %>
</div>
