<% provide(:title, @review.title)  %>
<div class="row">
  <%=link_to "お店のページに戻る", restaurant_path(id: @restaurant.id),class:"btn btn-primary"%>
  <div class="col-md-12 rev-card">
    <h1><%= @review.title %></h1>
    <h2><%= link_to "#{@restaurant.name}", restaurant_path(id: @restaurant.id) %>の口コミ</h2>
    <p><%= @review.created_at.strftime("%Y年%m月%d日") %></p>
    <p>投稿者:<%= link_to "#{@review.user.username}", profile_path(id: @review.user.id) %></p>
    <p><%= safe_join(@review.body.split("\n"), tag(:br)) %></p>
    <% if @review.review_images.present? %>
      <% @review.review_images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 200, 200 %>
      <% end %>
    <% end %>
    <br>
    <%= render "reviews/tag_list", tag_list: @review.tag_list %>
    <br>
    <span>カテゴリ:</span>
    <% @review.categories.each do |category| %>
      <span class="badge badge-info mr-1 p-2">
        <%= link_to category.name, category_path(id: category.id), class: "text-white"  %>
      </span>
    <% end %>
  </div>
</div>
<div class="row">
  <%= render "likes/like", review: @review %>
  <% if @review.user == current_user %>
    <%=link_to "編集する",edit_restaurant_review_path, class:"btn btn-success"%>
    <%=link_to "削除する",restaurant_review_path, method: :delete, class:"btn btn-danger", data: {confirm: "本当にこの投稿を削除しますか？" }%>
  <% end %>
</div>
<div class="row">
  <div class="col-sm">
    <h4>コメント</h4>
    <div id="comments_area"><!-- #① -->
      <!-- 投稿されたコメント一覧をレビューの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
    <%= paginate @comments %>
    <% if user_signed_in? %>
      <!-- コメント入力欄をレビューの詳細ページに表示するためのrender -->
      <div id="error_area">
        <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
      </div>
    <% end %>
  </div>
</div>
