<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "口コミアプリ(仮)", root_path, class:"navbar-brand" %>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="Navber">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><%= link_to "お店一覧", restaurants_path, class:"nav-link" %></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to "全てのタグ", alltags_path, class:"nav-link" %></li>
        <% if user_signed_in? %>
          <strong><%= link_to "プロフィール", profile_path(id: current_user.profile.id) %></strong>
          <li class="nav-item"><%= render "notifications/circle" %></li>
          <li class="nav-item"><%= link_to "プロフィール変更", edit_user_registration_path, class:"nav-link" %></li>
          <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link" %></li>
        <% else %>
        <li class="nav-item nav-link pointer" id="signup-show">新規登録</li>
        <li class="nav-item nav-link pointer" id="login-show">ログイン</li>
        <% end %>
        <li class="nav-item dropdown">
          <a href="" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            仮ドロップダウン
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">メニュー1</a>
            <a class="dropdown-item" href="#">メニュー2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">その他</a>
          </div>
        </li>
        <%= render "layouts/search_form" %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</header>
