<div class="login-modal-wrapper" id="login-modal">
  <div class="log-modal col-12">
    <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <div id="login-form">
      <h2 class="title-h1">ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-ctl", placeholder: "メールアドレス", id: "login_user_email" %>
        <%= f.password_field :password, autocomplete: "current-password", class:"form-ctl", placeholder: "パスワード", id: "login_user_password" %>
        <%= f.submit "ログインする", id:"submit-btn" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
