<% if @reviews.present? %>
  <% @reviews.each do |review| %>
    <div class="col-md-8 rev-card">
      <%= link_to restaurant_review_path(restaurant_id: review.restaurant.id, id: review.id) do %>
        <p class="rev-card-title"><%= review.title %></p>
        <p><%= review.created_at.strftime("%Y年%m月%d日") %></p>
        <p>投稿者：<%= review.user.profile.name %></p>
        <% if review.review_images.present? %>
          <% review.review_images.each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 200, 200 %>
          <% end %>
        <% end %>
      <% end %>
      <br>
      <%= render "reviews/tag_list", tag_list: review.tag_list %>
    </div>
  <% end %>
<% else %>
  <br>
  <p>まだ投稿はありません</p>
<% end %>
