<% if reviews.present? %>
  <% reviews.each do |review| %>
    <div class="rev-card px-2 pb-2">
      <div class="rev-card-title col-12">
        <%= review.title %>
      </div>
      <div class="row">
        <!-- 画像 -->
        <div class="col-md-4 mt-2 text-center">
          <% if review.review_images.present? %>
            <%= attachment_image_tag review.review_images.first, :image, :fill, 152, 114 %>
          <% end %>
        </div>
        <!-- タグ一覧と本文 -->
        <div class="col-md-8 mt-2" id="card-body">
          <%= render "reviews/tag_list", tag_list: review.tag_list %>
          <%= truncate review.body, length: 70 do %>
          <% end %>
          <%= link_to restaurant_review_path(restaurant_id: review.restaurant.id, id: review.id), class: "btn-continue" do %>
            <i class="fa fa-caret-right" aria-hidden="true"></i> 続きを見る
          <% end %>
        </div>
        <!-- 投稿日 -->
        <div class="post-date col-6">
          <i class="fa fa-calendar" aria-hidden="true"></i> <%= review.created_at.strftime("%Y年%m月%d日") %>
        </div>
        <!-- 投稿者 -->
        <div class="col-6">
          <%= link_to profile_path(id: review.user.profile.id) do %>
            <%= render 'layouts/profile_icon', profile: review.user.profile %>
            <%= review.user.profile.name %>さん
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
<div class="text-center p-5">
  <p>投稿はありません</p>
</div>
<% end %>
